body {
    margin: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 10;
}

.header__inner {
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    font-weight: 600;
    font-size: 36px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__link {
   margin: 10px 30px;
}

.nav__link:first-child {
    margin-left: 0;
}