body {
    margin: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: url(../img/background-1.jpg) center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 900px;
    width: 100%;
    z-index: 10;
}

.header__inner {
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__logo {
    font-weight: 600;
    font-size: 36px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__link {
   color: #fff;
   margin: 10px 15px;
   font-size: 16px;
   text-decoration: none;
   opacity: .8;
   transition: opacity .2s linear;
}

.nav__link:hover {
    opacity: 1;
}

.nav__link:first-child {
    margin-left: 0;
}

.btn {
    color: #1F3347;
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    padding: 10px 30px;
    border: 0;
    border-radius: 4px;
    background-color: #ffd037;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffc400;
    transition: all .3s linear;
}